*{
	padding: 0px;
	margin: 0px;

	/*box-sizing: border-box;*/
}

body{
	background-image: url("../images/online.jpg");
	background-repeat: no-repeat;
	background-size: 100% 950%;
	/*width: 100%;
	height: 100%;*/
}
#nav{
	display: flex;
	align-items: center;
	/*padding: 10px;*/
	padding-left: 50px;
	padding-right: 5px;
	padding-top: 15px;
	background-color: rgb(0,0,0,0.5)
}

/*#dash{
	text-align: center;
	color: rgba(100,100,200,0.9);
	font-family: sans-serif;
	margin-top: 5px;
}*/

#right{
	flex: 1;
	text-align: right;	
	display: inline-block;
	margin-right: 30px;
	/*border: 2px solid white;*/
	/*padding: 5px;*/
	font-family: sans-serif;
	color: white;
	border-radius: 20px;

}

#left{
	flex: 1;
	text-align: left;	
	display: inline-block;
	margin-left: 0px;
}

/*#left input{
	position: fixed;
	top: 4%;
	left: 1%;
	color: white;
}*/

#sliderlabel{
	background-color: white;
	height: 22px;
	width: 22px;
	cursor: pointer;
	position: absolute;
	top: 4%;
	left: 0%;
	background-color: rgba(0,0,100,0.3);
	width: 145px;
	height: 50px;
	margin-top: 42px;
	transform: translateX(-145px);
	transition: transform 250ms ease-in-out;
}
#examreg{
	/*height: 5%;*/
	position: absolute;
	left: 3%;
	top: 20%;
	/*margin-top: 1rem;*/
	outline: none;
	border: none;
	border: 1px solid black;
	background-color: orange;
	color: black;
	font-size: 15px;
	padding: 4%;
	border-radius: 5px;
}

#examreg:hover{
	cursor: pointer;
	color: grey;
	box-shadow: 0px 0px 0px 2px blue;
}

#slidermenu:checked ~ #sliderlabel{
	transform: translateX(0px);
}

#slidermenu{
	display: none;
}

#right button{
	margin-left: 20px;
	padding: 5px;
}
#details{
	
	outline: none;
	border: none;
	background-color: transparent;
	font-size: 16px;
	color: white;
}

#out{
	display: inline-block;
	margin-right: 10px;
	border: 1px solid black;
	padding: 15px;
	background-color: blue;
	font-family: sans-serif;
	color: white;
	border-radius: 15px;
	margin-left: 30px;
	margin-top: 15px;
	margin-bottom: 8px;
	font-size: 15px;
}

#out:hover{
	cursor: pointer;
	color: grey;
	border: 1px solid whitesmoke;
}

#details:hover{
	/*background-color: purple;*/
	text-decoration: underline;
	color: grey;
	cursor: pointer;
}

#register{
	position: absolute;
	top: 70%;
	left: 38%;
	right: 40%;
	transform: translateX(-50%);
	transform: translateY(-50%);
	background-color: rgb(100 100 200 0.5);

}

#regibtn {
	padding: 15px;
	border-radius: 30px;
	width: 100%;
	font-size: 20px;
	border: 1px solid black;
	background-color: green;
	color: black;

}

#regibtn:hover{
	background-color: rgb(100 200 100);
	cursor: pointer;
	box-shadow: 0px 0px 0px 2px rgba(112,111,211,1);
}

/*#regibtn:onclicked{
	font-size: 200px;
}*/

#box{
	background-color: transparent;
	height: 22px;
	width: 22px;
	cursor: pointer;
	position: absolute;
	top: 4%;
	left: 1%;

}

.spinner{
	height: 3px;
	background: #fff;
	transition: all 0.3s;
	z-index: 20;
}

.spinner.middle,
.spinner.bottom{
	margin-top: 3px;
}

#slidermenu:checked ~ #box > .spinner.middle{
	opacity: 0;
}

#slidermenu:checked ~ #box > .spinner.top{
	transform: rotate(135deg);
	margin-top: 8px;
}

#slidermenu:checked ~ #box > .spinner.bottom{
	transform: rotate(-135deg);
	margin-top: -9px;
}

#stepBox {
	position: absolute;
	height: 30%;
	width: 30%;
	background-color: rgba(0,0,0,0.5);
	border: 2px solid white;
	border-radius: 1rem;
	left: 34%;
	right: 50%;
	top: 25%;

}

#stepBox_contenet {
	padding-left: 0.9rem;
	padding-top: 1.2rem;
	
}

#stepBox_contenet p {
	color: white;
	
}

#stepBox_contenet ul {
	padding-left: 2rem;
	padding-top: 0.6rem;
	color: whitesmoke;
	line-height: 2rem;

}